body{
    margin: 2rem;

}

img{
    max-width: 100%;
    border-radius: 0.5rem;
    border: solid 2px transparent;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 1.4rem;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh + 10rem);
    max-width: 40rem;
    margin: 0 auto;
}

.content{
    flex: 1;
}

.animeLeft {
    transform: translateX(-20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
    to{
        transform: initial;
        opacity: initial;
    }
}

/*Onloader*/

.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #141717c1;
    height: 50px;
    width: 50px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }